# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.mypy*

# Notebooks checkpoints
**.ipynb_checkpoints

# Vim Sessions
Session.vim

# Builds
docs/_build/
docs/_static/
docs/source/generated/
LECA.egg-info/
